<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-centrado">
    <ion-img src="assets/escudo.png" style="width: fit-content; height: fit-content;"></ion-img>
  </div>
  <form [formGroup]="formLogin" (ngSubmit)="login()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text" formControlName="username" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" [disabled]="!formLogin.valid" expand="block">Ingresar</ion-button>
      <!--  <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>-->
      </ion-col>
    </ion-row>
  </form>
</ion-content>