<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Pedidos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>Cantidad</ion-col>
      <ion-col>Producto</ion-col>
      <ion-col>Valor</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of order?.items">
      <ion-col>{{item.amount}}</ion-col>
      <ion-col>{{item.product.name}}</ion-col>
      <ion-col>{{ toFixed(item.product.price, item.amount) | currency}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Total</ion-col>
      <ion-col>{{ order.total | currency}}</ion-col>
    </ion-row>
  </ion-grid>
  <div #paypal></div>
</ion-content>