<ion-header>
  <ion-toolbar>
    <ion-title>
      MakePizza
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <div class="contenedor-centrado">
    <ion-img src="assets/escudo.png" style="width: fit-content; height: fit-content;"></ion-img>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/register']" expand="block" color="primary">Registrarse</ion-button>

        <span class="divider line one-line">o</span>

        <span class="already">¿Ya tienes un usuario?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>